[submodule "thirdparty/micropython"]
	path = thirdparty/micropython
	url = https://github.com/micropython/micropython.git
[submodule "thirdparty/pycom-libraries"]
	path = thirdparty/pycom-libraries
	url = https://github.com/pycom/pycom-libraries.git
[submodule "thirdparty/upython-aq-monitor"]
	path = thirdparty/upython-aq-monitor
	url = https://github.com/ayoy/upython-aq-monitor.git
[submodule "thirdparty/micropython-lib"]
	path = thirdparty/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "thirdparty/pycom-micropython-sigfox"]
	path = thirdparty/pycom-micropython-sigfox
	url = https://github.com/pycom/pycom-micropython-sigfox.git
